.container-fluid
  .row.hidden-xs
    .col-sm-6.categories
      .scrollbar
        h3.categories-title Tournaments & Leugues
        ul.list-unstyled.category-item
          li( *ngFor='let tour of tournaments; let i = index', (click)='selectedItem(i)', [class.active]='i==currentTournamentIndex')
            a((click)='getTeamsByTournamentId(tour.id); tournamentClick=true')
              span([ngStyle]="{'background-position':flagPosition}")
              |  {{tour.whoScoredTourName}}
    .col-sm-6.categories
      .scrollbar
        h3.categories-title Clubs
        ul.list-unstyled.category-item
          li(*ngFor='let team of teams; let i = index', (click)='selectedItem(i)', [class.active]='i==currentTeamIndex')
            a((click)='getPlayers(team.whoScoredTeamId, team.teamName);teamClick=true')
              span([ngStyle]="{'background-position':flagPosition}")
              |  {{team.teamName}}
    //
     .col-sm-4.categories
          .scrollbar
            h3.categories-title National Teams
            ul.list-unstyled.category-item
              li
                a(href='#')
                  span([ngStyle]="{'background-position':flagPosition}")
                  | UEFA - Champions League 
  .row.visible-xs
    .btns-holder.category-btns
      .col-sm-4.categories-xs
        label.btn.btn-danger.text-uppercase((click)='hideTournamentsDropdown=!hideTournamentsDropdown') Tournaments & Leugues
        .categories-dropdown-content([hidden]='hideTournamentsDropdown')
          .scrollbar
            ul.list-unstyled.category-item
              li( *ngFor='let tour of tournaments; let i = index', (click)='selectedItem(i)', [class.active]='i==currentTournamentIndex')
                a((click)='getTeamsByTournamentId(tour.id)')
                  span([ngStyle]="{'background-position':flagPosition}")
                  | {{tour.whoScoredTourName}}
        label.btn.btn-danger.text-uppercase((click)='hideClubsDropdown=!hideClubsDropdown') Clubs
        .categories-dropdown-content([hidden]='hideClubsDropdown')
          .scrollbar
            ul.list-unstyled.category-item
              li( *ngFor='let team of teams; let i = index', (click)='selectedItem(i)', [class.active]='i==currentTeamIndex')
                a((click)='getPlayers(team.whoScoredTeamId, team.teamName)')
                  span([ngStyle]="{'background-position':flagPosition}")
                  | {{team.teamName}}
        //
          label.btn.btn-danger.text-uppercase((click)='hideTeamsDropdown=!hideTeamsDropdown') National Teams
          .categories-dropdown-content([hidden]='hideTeamsDropdown')
            .scrollbar
              ul.list-unstyled.category-item
                li
                  a(href='#')
                    span([ngStyle]="{'background-position':flagPosition}")
                    | UEFA - Champions League
.players-content([hidden]='hidePlayersList')
  h3.team-title {{teamName}}
  .players
    ul
      li( *ngFor='let player of players')
        a(href='#')
          span([ngStyle]="{'background-position':player.nationalityFlagUrl}")
          | {{player.name}}
.videos-content
  .row.row-centered
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
    .videos.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-centered
      div
        .videos-img-holder
          a(routerLink='/videodetails')
            img(src='#')
